<ion-tabs #myTabs>

  <ion-tab-bar slot="bottom" color="dark" aria-selected="tab2">
    <ion-tab-button tab="tab1">
      <!-- <ion-icon name="flash"></ion-icon> -->
      <ion-img class="icon" src="assets/icon/sj.png"></ion-img>
      <ion-label>Library</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
        <ion-img class="icon" src="assets/icon/sc.png"></ion-img>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
        <ion-img class="icon" src="assets/icon/sd.png"></ion-img>
      <ion-label>Ranking</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
