ion-slide {
    // height: 150px;
    width: 100%;
    // background-image: url("/src/assets/img/gettyimages-932737574-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  #slide {
    height: 30%;
    width: 100%;
  }
  .container {
    position: relative; 
    background-image: url("/src/assets/img/gettyimages-932737574-2.jpg");
  }
  .title {
    position: absolute;
    top: 57%;
    left: 22%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 10px black;
  }
  .subtitle {
    position: absolute;
    top: 72%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: white;
    text-shadow: 5px 5px 10px black;
    text-align: left;
  }

  ion-card{
    margin: 5px 0;
  }

  ion-col {
    text-align: center;
  }

  ion-card ion-img {
    width: 40px;
    margin:0 auto;
  }

  .wrapper {
    // position: relative;
    float: left;
  }

  .hero-image {
    background-image: url("../../assets/img/gettyimages-932737574-2.jpg");
    height: 180px;
    width: 90%;
    margin: 0 17px 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0px;
  }

  .forecast_container{
    overflow-x: scroll!important;
    overflow-y: hidden;
    word-wrap: break-word;
    margin: 0 5px;
    // height:20vw;
    // font-size:0.8em;
    // font-weight:300;
}

  .hero-text {
    text-align: left;
    position: absolute;
    color: white;
    bottom: 0px;
    width: 100%;
    background: #000000;
    /* Old browsers */
    background: -moz-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, bottom top, top top, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
    /* IE10+ */
    background: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='rgba(0, 0, 0, 0)', GradientType=1);
    /* IE6-9 */
  }

  .images{
    width: 100px;
  }