<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button>
        <ion-select value="brown" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="brown">Male</ion-select-option>
        </ion-select>
      </ion-button>

    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        Genre
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="Search Favorites"></ion-searchbar>
  </ion-toolbar>

  <ion-toolbar color="light">
    <ion-segment mode="md">
      <ion-segment-button value="Featured" checked>
        Featured
      </ion-segment-button>
      <ion-segment-button value="Top">
        Top
      </ion-segment-button>
      <ion-segment-button value="Topic">
        Topic
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides autoplay="2000" loop="true" speed="500" pager="true" (ionSlideDidChange)="slideChanged()" id="slide">

    <ion-slide *ngFor="let banner of bannerList;">
      <div class="container">
        <ion-img [src]="banner.imgurl"></ion-img>
        <!-- <div class="title">
                Genatic Evolution
              </div>
              <div class="subtitle">
                  The goal is to becom the strongest organism in the universe.
                </div> -->
      </div>
    </ion-slide>
  </ion-slides>
  <div class="slide"></div>
  <ion-card class="iconbar">
    <ion-grid no-padding>
      <ion-row>
        <ion-col class="container ">
          <ion-img class="iconbar" src="../../assets/icon/sc_icon_tj.png"></ion-img>Recommend
        </ion-col>
        <ion-col class="container ">
          <ion-img class="iconbar" src="../../assets/icon/sc_icon_sc.png"></ion-img>Collect
        </ion-col>
        <ion-col class="container ">
          <ion-img class="iconbar" src="../../assets/icon/sc_icon_pf.png"></ion-img>Rating
        </ion-col>
        <ion-col class="container ">
          <ion-img class="iconbar" src="../../assets/icon/sc_icon_wj.png"></ion-img>Completed
        </ion-col>
        <ion-col class="container ">
          <ion-img class="iconbar" src="../../assets/icon/sc_icon_rg.png"></ion-img>Popular
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card *ngFor="let catego of DatumList; let i = index;">
    <ion-card-header>
      <ion-card-title>{{catego.Category}}</ion-card-title>
    </ion-card-header>
    <ion-card-content no-padding>
      <ion-list>
        <ng-container *ngFor="let item1 of catego.Books; let k = index;">

          <ion-item *ngIf="k<2">
            <ion-thumbnail style="width: 100px; height: 133px; margin: 11px;">
              <ion-img style="width: 100px;" src="https://api.webnovelsapp.com/BookFiles/BookImages/{{item1.Img}}">
              </ion-img>
            </ion-thumbnail>
            <!-- <h2>{{item1.Name}}</h2>
            <p>{{item1.Desc}}</p> -->
            <ion-text color="dark" >
              <ion-label>{{item1.Name}}</ion-label>
              <h4 >{{item1.Desc}}</h4>
              <h3 >{{item1.Author}}</h3>
            </ion-text>
            

          </ion-item>
        </ng-container>
      </ion-list>

      <ion-grid>
        <ion-row nowrap class="forecast_container">
          <ng-container style="white-space: nowrap;" *ngFor="let item of catego.Books; let j = index;">
            <ion-col *ngIf="j>1">
              <ion-img style="width: 100px;" src="https://api.webnovelsapp.com/BookFiles/BookImages/{{item.Img}}">
              </ion-img>{{item.Name}}
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>




</ion-content>